<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Purchases</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-repeat="(date, purchases) in purchasesByDate">
      <div class="item item-divider row">
        <div class="col">{{date}}</div>
      </div>
      <div class="item row" ng-repeat="purchase in purchases">
        <div class="col">{{purchase.createdAt | time}}</div>
        <div class="col text-center">1 x {{purchase.product.name}}</div>
        <div class="col text-right">{{purchase.price | price}}</div>
      </div>
    </div>
  </ion-content>
</ion-pane>
